* {
  margin: 0;
  padding: 0;
}

body {
  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  background-color: rgb(171, 200, 215);
  overflow-y: scroll;
}

main {
  display: flex;
  justify-content: center;
  padding-block: 4rem;
  padding-inline: 1rem;
}

h1, h2 {
  letter-spacing: -0.02em;
  line-break: normal;
  line-height: 1;
  font-weight: normal;
}

.card {
  border: 4px double black;
  border-radius: 10px;
  box-shadow: 0 10px 20px -5px color(srgb 0.1845 0.34 0.41 / 0.55);
  max-width: 420px;
  flex: 1;
  padding: 1.5rem;
  background-color: white;
}

* + :is(p, h2, ul, ol, details, figure, footer) {
  margin-block-start: 1em;
}

img + figcaption {
  margin-block-start: 0.5em;
  text-align: center;
}

summary {
  cursor: default;
}

:is(ul, ol):not([class]) {
  padding-inline-start: 1em;
}

footer {
  text-align: center;
}

.icon {
  font-size: 2.5rem;
}
