*, *:before, *:after {
  box-sizing: border-box;
}

html {
  height: 100%;
  font-size: 120%;
}

body {
  height: 100%;
  padding: 2rem;
}

main {
  max-width: 65ch;
}

header {
  display: flex;
  align-items: center;
}

header * + * {
  margin-left: 1.2rem;
}

h1 {
  font-size: 2.4rem;
  position: relative;
  z-index: -1;
  letter-spacing: 1.6px;
  color: #111;
}

p {
  letter-spacing: .1px;
}

ul {
  padding-left: 1.5rem;
  /*margin: 0;*/
}

li {
  list-style: circle;
}

li + li {
  margin-top: .4rem;
}

.svg {
  filter:
    invert(.15);
  }
