*, *:before, *:after {
  box-sizing: border-box;
}

html {
  font-size: 120%;
}

body {
  padding-left: .5rem;
  padding-right: .5rem;
}

header {
  display: flex;
}

header > * {
  margin-top: 1rem;
  margin-bottom: 1rem;
}

header * + * {
  margin-left: .75rem;
}

h1 {
  font-size: 2.4rem;
  letter-spacing: 1.6px;
  color: #111;
}

p {
  letter-spacing: .1px;
}

ul {
  padding-left: 1rem;
}

li {
  list-style: none;
}

li::before {
  content: "â€";
}

li + li {
  margin-top: .4rem;
}

img[src$=".svg"] {
  filter: invert(.16);
  width: 100%;
}

header * > small {
  display: block;
  font-size: initial;
  font-weight: initial;
  letter-spacing: .8px;
  line-height: 1;
}

header > .image-container {
  display: flex;
  align-items: center;
}

.skip-link a {
  position: absolute;
  left: 10px;
  top: 0;
  transform: translateY(-100%);
  transition: transform 100ms ease-out;
}

.skip-link a:focus{
  transform: translateY(10px);
  transition: transform 100ms ease-in;
}

@media (min-width: 414px) {
  body {
    padding: 0;
    margin: 0;
    min-height: 100vh;
    display: flex;
  }

  main {
    box-sizing: content-box;
    max-width: 60ch;
    padding: 2rem;
  }  

  header * > small {
      transform: translate(4rem, -.5rem);
  }

  header * + * {
    margin-left: .5rem;
  }

  header > .image-container {
    margin-top: .5rem;
    display: block;
  }
}

