.underline-animated {
  display: inline-block;
  position: relative;
  overflow: hidden;
}

.underline-animated::after {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: hsl(0, 60%, 100%);
  content: "";
  z-index: -1;
  opacity: 1;
  transition: transform 400ms ease,
              opacity 400ms ease;
}

.meet-in-middle, .grow-from-middle {
  /*text-align: center;*/
}

.underline-animated::before {
  color: var(--brand-color);
  position: absolute;
  left: 0;
  content: attr(data-text);
  text-decoration: underline;
  z-index: -2;
}

.underline-animated:hover::after {
    transition: transform 250ms ease-out;
}

.slide-right:hover::after {
  transform: translateX(100%);
}

.slide-left:hover::after {
  transform: translateX(-100%);
}

.meet-in-middle:hover::after {
  transform: scaleX(0);
}

.grow-from-middle::after {
  display:none;
}
.grow-from-middle::before {
    transition: -webkit-clip-path 400ms ease,
                        clip-path 400ms ease;

    -webkit-clip-path: polygon(50% 0, 50% 0, 50% 100%, 50% 100%);
            clip-path: polygon(50% 0, 50% 0, 50% 100%, 50% 100%);
}
.grow-from-middle:hover::before {
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
          clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
}

.fade-in:hover::after {
  opacity: 0;
  transition: opacity 400ms ease;
}
